<!-- SECCIÓN DE DEMOS (CARRUSEL INTERACTIVO) -->
    <!-- <section id="demos" class="full-section">
      <div class="section-inner">
        <div class="section-header">
          <div class="section-title-group">
            <span class="section-tag">02 // Ellos han confiado</span>
            <h2>Clientes</h2>
          </div>
          <div style="display: flex; align-items: center; gap: 20px;">
            <p style="margin: 0; text-align: right;" class="desktop-only-text">Usa las flechas o desliza para ver más formatos</p>
            <!-- Botones de navegación para PC -->
            <!-- <div class="carousel-nav-btns">
              <button class="carousel-btn" id="prevDemo" aria-label="Demo anterior"><i class="fa-solid fa-chevron-left"></i></button>
              <button class="carousel-btn" id="nextDemo" aria-label="Demo siguiente"><i class="fa-solid fa-chevron-right"></i></button>
            </div>
          </div>
        </div>
        
        <div class="demos-carousel-wrapper">
          <div class="demos-grid" id="demosGrid">
            <div class="demo-card">
              <div class="demo-img-box">
                <img
                  src="recursos/imagenes/Clientes/efiser.png"
                  alt="Efiser Sistemas de Climatización"
                  loading="lazy"
                />
              </div>
              <div class="demo-content">
                <h3>EFISER</h3>
                <p>
                 Ofrece en climatización soporte técnico integral y gestión especializada para proyectos residenciales, comerciales e industriales.
                </p>
                <a
                  href="https://efiser.cl/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="demo-link"
                  >Ver estructura <i class="fa-solid fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>

          <!-- Puntos indicadores (dots) para móvil -->
          <!-- <div class="carousel-dots" id="carouselDots">
            <span class="dot active" data-index="0"></span>
            <span class="dot" data-index="1"></span>
            <span class="dot" data-index="2"></span>
            <span class="dot" data-index="3"></span>
            <span class="dot" data-index="4"></span>
          </div>
        </div>
      </div>
    </section> -->
