<!-- HERO SECTION -->
    <section class="hero">
      <div class="hero-inner">
        <div class="hero-layout">
          <div>
            <div class="hero-badge-ambient">
              <div class="status-dot"></div>
              <span>Soluciones Digitales 2026</span>
            </div>
            <h1>
              Sitios web limpios, rápidos y enfocados en <span>vender más</span>
            </h1>
            <p>
              Ayudamos a tu negocio a dar el salto digital con plataformas
              modernas, optimizadas para celulares y listas para conectar
              directamente con tus clientes por WhatsApp.
            </p>

            <div class="hero-buttons">
              <a href="#contacto" class="btn-main"
                >Hablemos de tu proyecto <i class="fa-solid fa-arrow-right"></i
              ></a>
              <!-- <a href="#demos" class="btn-outline">Ver ejemplos</a> -->
            </div>
          </div>

          <!-- TARJETA HERO DE BENEFICIOS -->
          <div class="hero-benefits-card">
            <h3><i class="fa-solid fa-rocket"></i> Por qué elegirnos</h3>
            <div class="benefit-list">
              <div class="benefit-item">
                <i class="fa-solid fa-bolt"></i>
                <div class="benefit-info">
                  <h4>Entrega Express</h4>
                  <p>Según el servicio, podrás contar con tu Sitio Web en un período corto de tiempo.</p>
                </div>
              </div>
              <div class="benefit-item">
                <i class="fa-solid fa-pen-to-square"></i>
                <div class="benefit-info">
                  <h4>Autogestión Simple</h4>
                  <p>Te capacitamos para que puedas realizar cambios básicos en tu sitio sin necesidad de asistencia técnica.</p>
                </div>
              </div>
              <div class="benefit-item">
                <i class="fa-solid fa-headset"></i>
                <div class="benefit-info">
                  <h4>Soporte Post-Entrega</h4>
                  <p>Hasta 2 secciones de correcciones o cambios en tu sitio web luego de la entrega.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
